/* ==============================================전체 공통 디자인 */
#wrap {}
#wrap .container {
    background-position: center; /* =풀로 이미지를 채웠을때 화면 크기에 따라 조정= */
    background-size: cover;  /* =풀로 이미지를 채웠을때 위아래까지 맞춰서 채워져라= */
}
#wrap .container .contents {
    max-width: 1250px; min-width: 320px;
    margin: 0 auto; 
}
#wrap .container h2 {
    font-size: 3.44rem; width: 500; letter-spacing: -0.01em;  line-height: 1.2;
    text-align: center;
}
#wrap .container .main_title{ 
    font-size: 4.38rem; color: #fff;
    line-height: 1.3; letter-spacing: -0.02em;
    text-align: center; /*===대제목 70스타일. (다음 동일클래스주기) */
}
#wrap .container .main_title span {font-weight: 700;}
#wrap .container .sponsor_btn {
    background: linear-gradient(90deg,#FE9300,#FF7300);
    color: #fff;
    border-radius: 50px;
    padding: 15px 70px;
    font-size: 2.13rem; line-height: 1.2; font-weight: 700;
}
#wrap .container .sponsor_btn:hover {
    background: linear-gradient(0deg,#FE9300,#FF7300);
}
#wrap .container .sponsor_btn img {
    width: 32px; position: relative; top: 3px;
}
#wrap .container .sponsor_q_btn {
    background-color: #050505;
    border-radius: 30px;
    color:#fff;
    padding: 10px 64px;
    font-size: 1.63rem; line-height: 1.2;
    display: flex; flex-flow: row nowrap; align-items: center;
}
#wrap .container .sponsor_q_btn:hover {font-weight: 600;box-shadow: 0 5px 10px rgba(255,255,255,0.50);}
#wrap .container .sponsor_q_btn img {width: 20px;}
#wrap .container .sponsor_q_btn img:first-child {margin-right: 10px;}
#wrap .container .sponsor_q_btn img:last-child {margin-left: 10px;}

/* ==============================================1행 제목+후원 */
#wrap .bg1 {
    background-image: url(../images/bg1.png);
    background-attachment: fixed; /* 기본값 scroll */
}
#wrap .bg1 .gradient {
    background: linear-gradient(transparent,rgba(0,0,0,0.6)69%);
}  /* background: linear-gradient(각도 deg, 색상, 색상 색상위치 %, 색상) 그라데이션(피그마 값참고)= */
#wrap .bg1 .gradient .contents > * {margin-bottom: 100px;}
#wrap .bg1 .gradient .contents {
    height: 150vh;
    display: flex; flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
#wrap .bg1 .gradient .contents h1 {}
#wrap .bg1 .gradient .contents h1:nth-child(1) {width: 89px; align-self:flex-start}
#wrap .bg1 .gradient .contents h1:nth-child(1) a {}
#wrap .bg1 .gradient .contents h1:nth-child(1) a img {width: 100%;}
#wrap .bg1 .gradient .contents h1:nth-child(2) {}
#wrap .bg1 .gradient .contents h1:nth-child(2) span {}
#wrap .bg1 .gradient .contents .sponsor_btn {}
#wrap .bg1 .gradient .contents .sponsor_btn img {}
#wrap .bg1 .gradient .contents .sponsor_q_btn {align-self:flex-end; margin: 0;}
#wrap .bg1 .gradient .contents .sponsor_q_btn img {}
#wrap .bg1 .gradient .contents .sponsor_q_btn img:first-child {}
#wrap .bg1 .gradient .contents .sponsor_q_btn img:last-child {}

/* ==============================================2행 퀴즈+참여 */
#wrap .bg2 {
    background-image: url(../images/quiz_bg.png);  
    padding: 150px 0;
}
#wrap .bg2 .contents {
    display: flex;
    justify-content: space-between;
    
}
#wrap .bg2 .contents .quiz_contents { }
#wrap .bg2 .contents .quiz_contents h2 {
    color: #fff;
    margin-bottom: 35px;
}
#wrap .bg2 .contents .quiz_contents p {margin: 35px 0 14px; font-size: 1.25rem; color: #fff; }
#wrap .bg2 .contents .quiz_contents form {
    display: flex; flex-flow: column nowrap;
}
#wrap .bg2 .contents .quiz_contents form label {
    height: 34px;margin-bottom: 14px; 
    display: flex; flex-flow: row nowrap; align-items: center;
}

#wrap .bg2 .contents .quiz_contents form label input {}
#wrap .bg2 .contents .quiz_contents form label input[name^=quiz] {
}
#wrap .bg2 .contents .quiz_contents form label input[name^=quiz]+span {
    /* input이 비활성화 됐을때 */
    background-image: url(../images/quiz_checkedx_no.png);
    /* background-image외 repeat,position,size등 속성은 비활성화쪽에 작성 */
    background-repeat: no-repeat;
    background-position: left;
    /* 이미지와 안겹치게 하는 속성 */
    padding-left: 48px; height: 100%;
    /* 글자속성 */
    font-size: 1.25rem; line-height: 1.7; color: #fff;
}
#wrap .bg2 .contents .quiz_contents form label input[name^=quiz]:checked+span {
    /* 활성화 됐을때 */
    background-image: url(../images/quiz_checked\ .png);
}
#wrap .bg2 .contents .quiz_contents form .answer_btn {
    background:#050505; color: #fff;
    font-size: 1.25rem; line-height: 1.7;
    border-radius: 50px; padding: 10px 0; 
    width: 450px; 
}
#wrap .bg2 .contents .quiz_contents form .answer_btn:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
}
#wrap .bg2 .contents .quiz_status {}
#wrap .bg2 .contents .quiz_status img {width: 500px;}
#wrap .bg2 .contents .quiz_status span{
    display: block; margin-top: 20px; color: #fff; text-align: right; 
    font-size: 1.25rem; line-height: 1.7;
}
/* ==============================================3행 동영상 */
#wrap .bg3 {
    background-image: url(../images/video_bg.png);
    padding: 200px 0;
}
#wrap .bg3 .contents {
    display: flex; flex-flow: column nowrap; align-items: center;
    height: 150vh;
}
#wrap .bg3 .contents h2 {}
#wrap .bg3 .contents iframe {max-width: 900px; width: 100%; margin: 70px 0;}/*최대크기및 가변형설정 */
#wrap .bg3 .contents .sponsor_btn {}
/* ==============================================4행 빙하 50% 감소 */
/* ==============================================5행 빙하 인류재앙3 */
/* ==============================================5행 지구전체위기 */
/* ==============================================7행 WWF 소개 */
/* ==============================================8행 다양한활동 */
/* ==============================================8행 감사선물*/
/* ==============================================10행 안내사항 */
