/* 미디어쿼리 조건 작성위치  */
@media screen and (max-width: 1250px) {
    /* =========================공통선택자+1행반응형 디자인(tablet) */
    #wrap .container > * {padding: 0 80px;}
    #wrap .container .main_title {font-size: 3.13rem;}
    #wrap .container h2 {font-size:2.50rem}
    #wrap .container .sponsor_btn {
        font-size: 1.38rem;
        width: 270px; padding: 15px 0;
        text-align: center;
        display: flex; align-items: center; justify-content: center;
    }
    #wrap .container .sponsor_q_btn  {
        font-size: 1.25rem;
    }
    #wrap .container .sponsor_q_btn img:first-child {display: none;}
     /* =========================2행반응형 디자인(tablet) */
    #wrap .bg2 .contents .quiz_contents h2 {font-size: 2.50rem;}
    #wrap .bg2 .contents .quiz_status {text-align:center ;}
    #wrap .bg2 .contents .quiz_status img {width: 316px;}

     /* =========================3행반응형 디자인(tablet) */
    #wrap .container .contents h2 {}
     /* =========================4행반응형 디자인(tablet) */
     /* =========================5행반응형 디자인(tablet) */
     /* =========================6행반응형 디자인(tablet) */
     /* =========================7행반응형 디자인(tablet) */
     /* =========================8행반응형 디자인(tablet) */
     /* =========================9행반응형 디자인(tablet) */
     /* =========================10행반응형 디자인(tablet) */
} /* 1250 end. (>*그라데이션까지 유지)  */

@media screen and (max-width:900px) {
    #wrap .bg2 .contents {flex-flow: column nowrap;align-items: center;}
} /* ===========2행 반응형 디자인 769~900 end  */

  /* =========================공통 1행 반응형 디자인(mobile) */
@media screen and (max-width:768px) {
    #wrap .container > * {padding: 0 15px;}
    #wrap .container h2 {font-size:1.25rem;}
    #wrap .bg1 .gradient .contents h1:nth-child(1) {width: 40px;}
    #wrap .container .main_title {font-size: 1.88rem;}
    #wrap .bg1 .gradient .contents > * {margin-bottom: 50px;}
    #wrap .container .sponsor_btn {padding: 5px 10px;}
    #wrap .bg1 .gradient .contents .sponsor_q_btn {align-self:center;}
    /* =========================2행 반응형 디자인(mobile) */
    #wrap .bg2 .contents {}
    #wrap .bg2 .contents .quiz_contents h2 {font-size:1.88rem; }
    #wrap .bg2 .contents .quiz_contents p {font-size: 1rem;}
    #wrap .bg2 .contents .quiz_status {margin-top: 50px;}
    #wrap .bg2 .contents .quiz_contents form .answer_btn {width: 362px; text-align: center;}
    #wrap .bg2 .contents .quiz_contents form label input[name^=quiz]+span {font-size: 1rem;}
    #wrap .bg2 .contents .quiz_status span {font-size: 1rem; text-align: center;}
    /* =========================3행 반응형 디자인(mobile) */
    #wrap .bg3 {padding: 50px 0;}
    #wrap .bg3 .contents iframe {height: 300px;}
    /* =========================4행 반응형 디자인(mobile) */
    /* =========================5행 반응형 디자인(mobile) */
    /* =========================6행 반응형 디자인(mobile) */
    /* =========================7행 반응형 디자인(mobile) */
    /* =========================8행 반응형 디자인(mobile) */
    /* =========================9행 반응형 디자인(mobile) */
    /* =========================10행 반응형 디자인(mobile) */
}/* 320~768 end */


